{% extends 'base.html.twig' %}
{% block title %} Ceník | {{ parent() }}{% endblock %}
{% block body %}
<section>
    <div class="price-list-page">
    <h1>{{ title }}</h1>
        <div class="container price-article-list">
            {% for priceList in smallPriceList %}
                <div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row price-dropdown-header">
                                <div class="col">{{ priceList.PhotoPackageTitle }}</div>
                                <div class="col"></div>
                                <div class="col text-end"><i>ICONA</i></div>
                            </div>
                        </div>
                        <article class="container price-dropdown hidden">
                            {% for price in priceList.photoPackageDetails %}
                            <div class="row price-row">
                                <div class="col">
                                    <p>{{ price.PhotoPackageDetailTitle }}</p>
                                </div>

                                <div class="col text-center">
                                    <p>{{ price.PhotoPackageDetailPhotoAmount }} Ks</p>
                                </div>

                                <div class="col text-end">
                                    <p class="price-amount"> {{ price.PhotoPackageDetailPrice |format_currency('CZK', {fraction_digit: 0}, locale='cs_CZ') }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </article>
                    </div>
                </div>
            {% endfor %}
            {% for priceList in weddingPriceList %}
                {% dump(priceList) %}
                <div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row price-dropdown-header">
                                <div class="col">{{ priceList.packageName }}</div>
                                <div class="col"></div>
                                <div class="col text-end"><i>ICONA</i></div>
                            </div>
                        </div>
                        <article class="container price-dropdown hidden">

                            <div class="row price-row">
                                <div class="col">
                                    <p>Chyba</p>
                                </div>


                                <div class="col text-end">
                                    <p class="price-amount"> {{ priceList.packagePrice |format_currency('CZK', {fraction_digit: 0}, locale='cs_CZ') }}</p>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
    
{% endblock %}